<a href="/HistoriaMedicas/Historial" class="btn btn-primary pull-left">Volver</a>

<br /><br />

<div class="invoice" style="margin-left: 0 !important; margin-right: 0 !important;">
    <div class="row">
        <div class="col-xs-12">

            <h2 class="page-header">
                <i class="fa  fa-ambulance"></i><u> DoctorWeb: Nuevo Observación Médica</u>
                <small class="pull-right"></small>
            </h2>
           
            <br />
            <h5><b>Interrogatorio:</b></h5>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 table-responsive">
            <table class="table table-striped">

                <tbody>
                    <tr>
                        <td><label>Diagnostico:</label></td>
                        <td><input type="text" class="form-control"></td>
                    </tr>
                    <tr>
                       
                    </tr>
                    <tr>
                        <td><label>Indicación:</label></td>
                        <td><text><input type="text" class="form-control"></text></td>
                    </tr>
                  
                </tbody>
            </table>

          
        </div>
    </div>
    
   
   
</div>
    <div class="clearfix"></div>



