<a href="/HistoriaMedicas/Inicio" class="btn btn-primary pull-left">Volver</a>

<br /><br />

<h1 style="text-align:center;">Panel de Observaciones Médicas</h1>

<a href="/HistoriaMedicas/AgregarHistorial" class="btn btn-primary pull-left">Agregar Observación Médica nueva</a>
<br /><br />
<div class="box">
    <div class="box-header">
        <h3 class="box-title">Observaciones Médicas</h3>
    </div>
    <div class="box-body">
        <table id="example2" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Número de Obs.</th>
                    <th>Paciente</th>
                    <th>Cédula</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Juan Mendoza</td>
                    <td>V 21.438.230</td>
                    <td><a href="/HistoriaMedicas/HistPersona" class="btn btn-block btn-primary btn-sm">Consultar Observación</a></td>
                 </tr>

            </tbody>
          
        </table>
    </div>

    </div>


