<h1 style="text-align:center;">Bienvenido al módulo de Historiales Médicos y Entregables</h1>

<br /><br /><br />

<div align="center">
    <img style="align-items:center; margin-bottom:30px;" src="~/Content/dist/img/historial.png" border="0" width="150" height="150">
    <a href="/HistoriaMedicas/Historial" class="btn btn-block btn-danger btn-lg">Observación Médica</a>
    <br />
    <img style="align-items:center; margin-bottom:30px;" src="~/Content/dist/img/corazon.png" border="0" width="150" height="150">
    <a href="/HistoriaMedicas/RecipeLista" class="btn btn-block btn-danger btn-lg">Resultado de Exámenes Médicos</a>
    <br />
    <img style="align-items:center; margin-bottom:30px;" src="~/Content/dist/img/clinica.jpg" border="0" width="150" height="150">
    <a href="/HistoriaMedicas/NotaDeGuardia" class="btn btn-block btn-danger btn-lg">Observaciones de Atención Clinica</a> 
   
</div>