<a href="/HistoriaMedicas/NotaDeGuardia" class="btn btn-primary pull-left">Volver</a>

<br /><br />

<div class="invoice" style="margin-left: 0 !important; margin-right: 0 !important;">
    <div class="row">
        <div class="col-xs-12">
            
            <h2 class="page-header">
                <i class="fa  fa-ambulance"></i><u> DoctorWeb: Observación de Atención Médica</u>
                <small class="pull-right"></small>
            </h2>
          
      
    </div>
    <div class="row">
        <div class="col-xs-12 table-responsive">
         

            <h3 style="text-align:center;"><u>Observaciones:</u></h3>
            <br />
            <table class="table table-striped">

                <tbody>
                    <tr>
                        <td><label>Observaciones:</label></td>
                        <td><text> </text></td>
                    </tr>
                    <tr>
                        <td><label>Comentarios:</label></td>
                        <td><text> </text></td>
                 
                </tbody>
            </table>
        </div>
    </div>
  
    <div class="clearfix"></div>
</div>







    
</div>