<a href="/HistoriaMedicas/Inicio" class="btn btn-primary pull-left">Volver</a>

<br /><br />

<h1 style="text-align:center;">Panel de Observaciones de Atención Médica  </h1>


<br /><br />
<div class="box">
    <div class="box-header">
        <h3 class="box-title">Observaciones de Atención Médica</h3>
    </div>
    <div class="box-body">
        <table id="example2" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Número de OAB</th>
                    <th>Paciente</th>
                    <th>Cédula</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                 


                    <td><a href="/HistoriaMedicas/NotaDeGuardiaPaciente" class="btn btn-block btn-primary btn-sm">Consultar OAB</a></td>
                </tr>

            </tbody>

        </table>
    </div>

</div>


