@model DoctorWebASP.Models.ResultadoExamenMedico

@{
    ViewBag.Title = "Eliminar Resultado de Examen";
}

<h1 style="text-align:center;">Eliminar Resultado de Examen</h1>

<h3>Seguro que desea eliminarlo?</h3>
<div>
    <h4>ResultadoExamenMedico</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Comentario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comentario)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar a la lista de Examenes Médicos", "Index")
        </div>
    }
</div>
