@using DoctorWebASP.Controllers.Helpers
@model Dictionary<string, string>

@{
    ViewBag.Title = "Configurados";
    ViewData.IndicarPaginaActual(EnumDoctorWebPagina.Configurados);
}

<section class="content-header">
    <h1>
        Reportes <small>Configurados</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li><a href="#">Reportes</a></li>
        <li class="active">Reportes Configurados</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="row">

                <!-- Selección de las entidades involucradas en el reporte-->
                <div class="col-xs-3">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title" style="font-size:medium">Selección de entidad(es)</h3>

                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label>Entidades</label>
                                        <select class="form-control select2" multiple="multiple" data-placeholder="Seleccione la(s) entidad(es) que desea" style="width: 100%;" id="select-entities">
                                            @foreach(KeyValuePair<string,string> entity in Model)
                                            {
                                                <option value="@entity.Key">@( String.IsNullOrEmpty(entity.Value) ? entity.Key : entity.Value )</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-footer">
                            <input type="button" class="btn btn-primary pull-right" id="submit-entities" value="Siguiente" />
                        </div>
                    </div>
                </div>

                <!-- Selección de los atributos involucrados en el reporte-->
                <div class="col-xs-3">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title" style="font-size:medium">Selección de atributo(os)</h3>

                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label>Atributos</label>
                                        <select class="form-control select2" multiple="multiple" data-placeholder="Seleccione el(los) atributo(s) que desea" style="width: 100%;" id="select-attributes" disabled></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-footer">
                            <input type="button" class="btn btn-primary pull-right" id="submit-attributes" value="Siguiente" disabled />
                        </div>
                    </div>
                </div>

                <!-- Selección de las métricas para el reporte-->
                <div class="col-xs-6">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title" style="font-size:medium">Selección de métrica(as)</h3>

                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        @*<select class="form-control select" data-placeholder="Seleccione la métrica que desea" style="width: 100%;" id="select-metrics" disabled></select>*@
                                        <table class="table table-condensed" id="contidions">
                                            <thead>
                                                <th>Atributo</th>
                                                <th>Condición</th>
                                                <th>Valor</th>
                                            </thead>

                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-footer">
                            <input type="button" class="btn btn-primary pull-right" id="generate-report" value="Generar" disabled />
                        </div>
                    </div>
                </div>

                <!-- Vista del reporte-->
                <div class="col-xs-12">
                    <div class="box box-success">
                        <div class="box-header with-border">
                            <h3 class="box-title" style="font-size:medium">Reporte Generado</h3>

                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    <table class="table" id="report"></table>
                                </div>
                            </div>
                        </div>
                        <div class="box-footer">
                            <input type="button" class="btn btn-primary pull-right" id="finish" value="Finalizar" disabled />
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

@section scripts
{
    <script>
        $(document).ready(function () {
            $(".select2").select2();

            $("#submit-entities").click(function () {
                var selections = $('#select-entities option:selected');
                var selectedEntities = [];
                var parameters = { };

                $(selections).each(function (index) {
                    selectedEntities.push($(this).val())
                });

                parameters = { selectedEntities: selectedEntities };

                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: "@Url.Action(actionName: "getAttributes", controllerName: "Reportes")",
                    data: JSON.stringify(parameters),
                    datatype: "application/json",
                    success: function (result) {
                        //console.log(result);
                        object = jQuery.parseJSON(result.answer);
                        //console.log(object);
                        var selectAttr = $("#select-attributes");
                        var submitAttr = $("#submit-attributes");

                        $(selectAttr).empty();
                        Object.keys(object).forEach(function (entidad, index) {
                            console.log(entidad);
                            for (var atributo in object[entidad]) {
                                //console.log(atributo);
                                var opcion = entidad + '.' + atributo;
                                var newOption = new Option(opcion, opcion, true, false);
                                selectAttr.append(newOption).trigger('change');
                            }
                        });

                        $(selectAttr).prop('disabled', false);
                        $(submitAttr).prop('disabled', false);
                    },
                    error: function (xmlhttprequest, textstatus, errorthrown) {
                        alert("Debe seleccionar al menos una entidad para poder continuar.");
                        console.log("error: " + errorthrown);
                    }
                });
            });

            $("#submit-attributes").click(function () {
                var selections = $('#select-attributes option:selected');
                var selectedAttributes = [];
                
                $(selections).each(function (index) {
                    selectedAttributes.push($(this).val())
                });

                var tableConditions = $("#contidions");
                var generateReport = $("#generate-report");

                $(tableConditions).empty();

                var selections = $('#select-attributes option:selected');
                var tBodyContent = '';
                var element = '';

                tBodyContent += '<tbody>';

                $(selections).each(function (index) {
                    console.log(selections[index]);
                    element = '<tr>' +
                                '<td>' + $(this).val() + '</td>' +
                                '<td>' +
                                    '<select class="form-control select2" data-type="' + $(this).val() + '" data-placeholder="Condición" style="width: 100%;">' +
                                        '<option value="=">Igual ( = )</option>' +
                                        '<option value="!=">Distinto ( != )</option>' +
                                        '<option value=">">Mayor que ( > )</option>' +
                                        '<option value="<">Menor que ( < )</option>' +
                                        '<option value=">=">Mayor o igual que ( >= )</option>' +
                                        '<option value="<=">Menor o igual que ( <= )</option>' +
                                    '</select>' +
                                '</td>' +
                                '<td>' +
                                    '<input type="text" data-type="' + $(this).val() + '" class="form-control" placeholder="Valor" />' +
                                '</td>';
                    tBodyContent += element;
                });

                $(tableConditions).append('</tbody>' + tBodyContent);
                $(generateReport).prop('disabled', false);
            });

            $("#generate-report").click(function () {
                var parameters = {};
                var selectionsEntities = $('#select-entities option:selected');
                var selectedEntities = []

                $(selectionsEntities).each(function (index) {
                    selectedEntities.push($(this).val())
                });

                var selectionsAttributes = $('#select-attributes option:selected');
                var selectedAttributes = [];

                $(selectionsAttributes).each(function (index) {
                    selectedAttributes.push($(this).val())
                });

                var generalObj = [];
                var entidadActual = "";
                var entidadAnterior = "";

                for (i = 0; i < selectedEntities.length; ++i) {
                    entidadActual = selectedEntities[i];

                    for (j = 0; j < selectedAttributes.length; ++j) {
                        var selectedCondition = $('select[data-type="' + selectedAttributes[j] + '"] option:selected');
                        var selectedConditionValue = $('input[data-type="' + selectedAttributes[j] + '"]');

                        var splitString = selectedAttributes[j].split(".");
                        var entidad = splitString[0];
                        var atributo = splitString[1];

                        var innerObj = {};

                        if (entidad == entidadActual) {
                            innerObj.Instancia = entidad;
                            innerObj.Atributo = atributo;
                            innerObj.Condicional = $(selectedCondition).val();
                            innerObj.Valor = $(selectedConditionValue).val();

                            generalObj.push(innerObj);
                        }
                    }
                }
                console.log("generalObj");
                console.log(generalObj);

                var parameters = { datosConfigurados: generalObj };

                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: "@Url.Action(actionName: "getReport", controllerName: "Reportes")",
                    data: JSON.stringify(parameters),
                    datatype: "application/json",
                    success: function (result) {
                        console.log("ajax");
                        console.log(result);
                        var queryObj = JSON.parse(result);
                        console.log(Object.keys(queryObj));
                        //$.each(JSON.parse(result), function (key, value) {
                        //    console.log(value);
                        //});
                        //var tableRep = $("#report");
                        //var finish = $("#finish");

                        //$(tableRep).empty();

                        //var selections = $('#select-entities option:selected');
                        //var tBodyContent = '';
                        //var element = '';

                        //tBodyContent += '<thead><tr>';

                        //$(selections).each(function (index) {
                        //    element = '<th>' + $(this).val() + '</th>';
                        //    tBodyContent += element;
                        //});

                        //tBodyContent += '</tr></thead><tbody>';

                        //$.each(JSON.parse(result), function (key, value) {
                        //    element =
                        //        '<tr>' +
                        //            '<td>' + value.Medico + '</td>' +
                        //            '<td>' + value.Paciente + '</td>' +
                        //        '</tr>';
                        //    tBodyContent += element;
                        //});

                        //$(tableRep).append('</tbody>' + tBodyContent);
                        //$(finish).prop('disabled', false);
                    },
                    error: function (xmlhttprequest, textstatus, errorthrown) {
                        alert(" Ha habido un error de conexión, vuelva a intentarlo. ");
                        console.log("error: " + errorthrown);
                    }
                });
            });

            $("#finish").click(function () {
                $('#select-entities').val([]).trigger('change');

                $("#select-attributes").val([]).trigger('change');
                $("#select-attributes").prop('disabled', true);
                $("#submit-attributes").prop('disabled', true);

                $("#select-metrics").val([]).trigger('change');
                $("#select-metrics").prop('disabled', true);
                $("#generate-report").prop('disabled', true);

                $("#report").empty();
                $("#finish").prop('disabled', true);
            });
        });
    </script>
}